.nav {
    border-radius: 10px;
    background-color: white;
    transition: flex 0.3s, width 0.3s;

    &:only-child.stretch {
        flex: 1;
    }

    &:not(:only-child).stretch {
        width: 600px;
    }
}

.menus {
    display: flex;
    height: 100%;
}
